.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 55px;
  border-radius: 20px;
}

.button-hide {
  font-size: 13px;
}

.checkoutProduct__info > button:active {
  background-color: #eca900;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

/* Media */
@media screen and (max-width: 1024px) and (min-width: 451px) {
  .checkoutProduct {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }

  .checkoutProduct__title {
    font-size: 10px;
    padding-left: auto;
    margin-right: -200px;
  }

  .checkoutProduct_price {
    font-size: 12px;
  }

  .checkoutProduct__image {
    width: 80px;
    height: 80px;
  }

  .MuiSvgIcon-root.rating {
    width: 12px;
    margin-top: -4px;
  }

  .checkoutProduct__info > button {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 10px;
  }

  .button-hide {
    display: none;
  }
}
